# always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
