# create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# `openf` with no arguments opens current directory, otherwise opens the given location
function openf() {
    if [ $# -eq 0 ]; then
        open .
    else
        open "$@"
    fi
}

# change working directory to the top-most Finder window location
function cdf() {
    cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')"
}

# open new tab in finder with the path of the current working directory
function cds() {
    osascript -e 'on run pwd
        set f to posix file pwd
            tell app "Finder"
            if number of Finder windows is 0 then
                open f
            else
                set target of window 1 to f
            end
        end
    end' "$PWD" > /dev/null
}

